@model QuantumDesk.CLIENTES

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja deletar este cliente?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RESPONSAVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSAVEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_PAGAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_PAGAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORMA_PAGAMENTO.DESCRICAO_FORMA_PAGAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORMA_PAGAMENTO.DESCRICAO_FORMA_PAGAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.CPF_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.CPF_CNPJ)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retornar a lista de clientes", "Index")
        </div>
    }
</div>
