@model QuantumDesk.CHAMADOS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CHAMADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DATA_ABERTURA_CHAMADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_ABERTURA_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_TERMINO_CHAMADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_TERMINO_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO_CHAMADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTRATOS.CODIGO_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRATOS.CODIGO_CONTRATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_CHAMADOS.DESCRICAO_STATUS_CHAMADOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_CHAMADOS.DESCRICAO_STATUS_CHAMADOS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
