@model IEnumerable<QuantumDesk.CHAMADOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATA_ABERTURA_CHAMADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_TERMINO_CHAMADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRICAO_CHAMADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRATOS.CODIGO_CONTRATO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS_CHAMADOS.DESCRICAO_STATUS_CHAMADOS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_ABERTURA_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_TERMINO_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRICAO_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRATOS.CODIGO_CONTRATO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS_CHAMADOS.DESCRICAO_STATUS_CHAMADOS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CODIGO_CHAMADO }) |
            @Html.ActionLink("Details", "Details", new { id=item.CODIGO_CHAMADO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CODIGO_CHAMADO })
        </td>
    </tr>
}

</table>
