@model IEnumerable<QuantumDesk.CHAMADOS>

@{
    ViewBag.Title = "Index";
}

<h2>Chamados</h2>

<p>
    @Html.ActionLink("Criar novo Chamado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Data de Abertura
        </th>
        <th>
            Data do Término
        </th>
        <th>
            Descrição
        </th>
        <th>
            Cliente(Codigo Contrato)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_ABERTURA_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_TERMINO_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRICAO_CHAMADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRATOS.CLIENTES.RESPONSAVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS_CHAMADOS.DESCRICAO_STATUS_CHAMADOS)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CODIGO_CHAMADO }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CODIGO_CHAMADO }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.CODIGO_CHAMADO })
        </td>
    </tr>
}

</table>
