@model QuantumDesk.CONTRATOS

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do contrato</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INICIO_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INICIO_CONTRATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIM_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIM_CONTRATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES.RESPONSAVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES.RESPONSAVEL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CODIGO_CONTRATO }) |
    @Html.ActionLink("Retornar à lista de contratos", "Index")
</p>
