@model IEnumerable<QuantumDesk.CLIENTE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPF_CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOME_RAZAOSOCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESPONSAVEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENDERECO_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SENHA_CLIENTE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CPF_CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOME_RAZAOSOCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESPONSAVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENDERECO_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONE_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SENHA_CLIENTE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CODIGO_CLIENTE }) |
            @Html.ActionLink("Details", "Details", new { id=item.CODIGO_CLIENTE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CODIGO_CLIENTE })
        </td>
    </tr>
}

</table>
